/* assets/main.css */
html, body, #__nuxt { height: 100%; }
body { background: #f3f4f6; color:#111827; font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif; }
